button{
    border: none;
}
body{
    transition:  0.2s all ease-in-out;
    background-color: rgb(250, 250, 165);
}
*{
    font-family: 'Albert Sans';
}

.headDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2div{
    display: flex;
    flex-direction: row;
    background-color: rgb(209, 209, 209);
    width: 300px;
    position: absolute;
    top:90px;
    z-index: 4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: baseline;
}

h1{
    width: 40vw;
    background: white;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top:0;
    position: absolute;
    font-size: 20pt;
    user-select: none;
    z-index: 5;
}

.back{
    background: none;
    font-size: 1rem;
    color: black;
}

h2{
    color:rgb(150, 150, 0);
    background-color: none;
    height: 100%;
    width: 50%;
    font-size: 1.3rem;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 170px;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: none;
    row-gap: 20px;
}

@media (max-width: 600px) {
    .mainContainer{
        width: 100%;
        align-items: center;
    }
    h1{
        width: 60vw;
        font-size: 1rem;
    }
    .h2div{
        width: 65vw;
        position: absolute;
        top: 70px;
    }
}

.bubble{
    background-image: linear-gradient(rgb(209, 209, 209),rgb(190, 190, 190));
    padding: 10px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.One{
    width: 60vw;
    font-size: 1.2rem;
    order: 1;
}

.Two{
    width: 60vw;
    font-size: 1.1rem;
    order: 3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.mid{
    width: 75vw;
    order: 2;
}

form{
    max-width: 600px;
    background-color:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 10px;
    column-gap: 10px;
}

input[type=text]{ 
    border: none;
    border-bottom: 3px solid rgb(151, 151, 151);
    background: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    color: black;
    border-radius: 2px;
}
input[type=email]{
    border: none;
    border-bottom: 3px solid rgb(151, 151, 151);
    background: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    color: black;
    border-radius: 2px;
}
input:focus{
    border-bottom: 4px solid rgb(88, 88, 88);
    background-color: rgb(245, 245, 190);
    text-decoration: none;
    outline: none;
}
input::placeholder{
    color: rgb(211, 211, 211);
    user-select: none;
}
input:focus::placeholder{
    color: rgba(211, 211, 211, 0);
}

#fname{
    flex-basis: 40%;
    flex-grow: 1;
    order: 1;
}
#lname{
    flex-basis: 40%;
    flex-grow: 1;
    order: 2;
}
#email{
    flex-basis: 100%;
    flex-grow: 2;
    order: 3;
}

#bigarea{
    order: 4;
    flex-basis: 100%;
    height: 140px;
    border: none;
    border-bottom: 3px solid rgb(151, 151, 151);
    background: white;
    height: 80px;
    padding: 10px;
    font-size: 1rem;
    color: black;
    border-radius: 2px;
    resize: none;
}
#bigarea:focus{
    border-bottom: 4px solid rgb(88, 88, 88);
    background-color: rgb(245, 245, 190);
    text-decoration: none;
    outline: none;
}
#bigarea::placeholder{
    color: rgb(211, 211, 211);
    user-select: none;
}
#bigarea:focus::placeholder{
    color: rgba(211, 211, 211, 0);
}

#submit{
    order: 5;
    width: 140px;
    background-color: rgb(194, 175, 5);
    height: 60px;
    font-size: 1.1rem;
    border: none;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 3px 0px rgb(141, 127, 4);
}
#submit:hover{
    background-color: rgb(129, 118, 14);
    color: white;
    box-shadow: 0px 3px 0px rgb(109, 98, 3);
}
#submit:active{
    top: 3px;
    box-shadow: none;
}


input[type=text]::selection{
    background-color: rgb(194, 175, 5);
    color: black;
}
input[type=email]::selection{
    background-color: rgb(194, 175, 5);
    color: black;
}
#bigarea::selection{
    background-color: rgb(194, 175, 5);
    color: black;
}
