button{
    border: none;
}
body{
    transition:  0.2s all ease-in-out;
    background-color: rgb(217, 255, 255);
}
*{
    font-family: 'Albert Sans';
}

.headDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2div{
    display: flex;
    flex-direction: row;
    background-color: rgb(209, 209, 209);
    width: 300px;
    position: absolute;
    top:90px;
    z-index: 4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: baseline;
}

h1{
    width: 40vw;
    background: white;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top:0;
    position: absolute;
    font-size: 20pt;
    user-select: none;
    z-index: 5;
}

.back{
    background: none;
    font-size: 1rem;
}

h2{
    color:teal;
    background-color: none;
    height: 100%;
    width: 50%;
    font-size: 1.3rem;
}

@media (max-width: 800px) {
    .linkContainer{
        height: 2100px;
        top: 100px;
    }
    .h2div{
        width: 65vw;
        top: 75px;
    }
    h2{
        font-size: 1.1rem;
    }
    h1{
        font-size: 1rem;
        width: 55vw;
    }

}

.linkContainer{
    background-color:none;
    width: 100%;
    height: 100%;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.linkedin{
    order: 1;
}

.merit{
    order: 2;
}

.x{
    order: 3;
}

.linkedin, .merit, .x{
    background-color: rgb(209, 209, 209);
    width: 230px;
    height: 100px;
    order: 2;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s box-shadow;
}

.merit:hover{
    box-shadow: 1px 1px 0px #156579, 2px 2px 0px #156579, 3px 3px 0px #156579, 4px 4px 0px #156579, 5px 5px 0px #156579;
}
.linkedin:hover{
    box-shadow: 1px 1px 0px #0274b3, 2px 2px 0px #0274b3, 3px 3px 0px #0274b3, 4px 4px 0px #0274b3, 5px 5px 0px #0274b3;
}
.x:hover{
    box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black, 5px 5px 0px black;
}

.merit:hover, .linkedin:hover, .x:hover{
    background-color: rgb(201, 201, 201);
    font-weight: 600;
    color: teal;
}

a{
    color: black;
    font-size: 1.3rem;
}

a:link{
    text-decoration: none;
}
