button{
    border: none;
}
body{
    transition:  0.2s all ease-in-out;
    background-color: rgb(255, 163, 163);
}
*{
    font-family: 'Albert Sans';
}

.headDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h2div{
    display: flex;
    flex-direction: row;
    background-color: rgb(209, 209, 209);
    width: 300px;
    position: absolute;
    top:90px;
    z-index: 4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: baseline;
}

h1{
    width: 40vw;
    background: white;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top:0;
    position: absolute;
    font-size: 20pt;
    user-select: none;
    z-index: 5;
}

.back{
    background: none;
    font-size: 1rem;
    color: black;
}

h2{
    color:rgb(209, 84, 84);
    background-color: none;
    height: 100%;
    width: 50%;
    font-size: 1.3rem;
}

.resContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    top:100px;
    height: 1000px;
    row-gap: 10px;
    column-gap: 10px;
}

@media (max-width: 600px) {
    h1{
        height: 4.4vh;
        padding: 20px;
        width: 65vw;
    }
    .resContainer{
        top: 20vh;
        width: 100%;
        height: fit-content;
        align-items: center;
    }
    .expBlock{
        width: 80%;
    }
    .edBlock{
        width: 80%;
    }
    .sklBlock{
        width: 80%;
    }
    .awBlock{
        width: 80%;
    }
    .dateText{
        font-size: 0.7rem;
    }
    .h2div{
        width: 65vw;
        top: 70px;
    }
    h2{
        font-size: 1.1rem;
    }
    h1{
        font-size: 1.3rem;
    }
    ul li{
        font-size: 0.8rem;
    }
}

@media (max-width: 280px) {
    .h2div{
        top:65px;
    }
}

.expBlock{
    max-width: 800px;
    background-color:rgb(209, 209, 209);
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 5px;
    order: 1;
}

.edBlock{
    max-width: 800px;
    background-color:rgb(209, 209, 209);
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    order: 2;
}

.sklBlock{
    max-width: 400px;
    background-color:rgb(209, 209, 209);
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    order: 3;
}

.awBlock{
    max-width: 400px;
    background-color:rgb(209, 209, 209);
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    order: 4;
}

.greyText{
    color:rgb(87, 87, 87);
}

.h3Label{
    text-shadow: 1.3px 1.3px 0px rgb(196, 85, 85);
    padding-left: 10px
}

li{
    font-size: 1.1rem;
}
